numpy==1.19.2
pandas==1.1.2
tensorflow-gpu==2.3.1
matplotlib==3.3.2
seaborn==0.11.0
audiodag==0.0.19
fitpsyche==0.0.3
pydantic==1.6.1
pydot
graphviz
h5py==2.10
joblib==0.16.0
tables==3.6.1
tqdm
scikit-learn==0.23.2
mlflow==1.11.0
flake8
pytest
coverage
hypothesis
